/**
 * Responsive modes:
 * 1px - 500px: Header with menu button
 * 500px - 800px: Menu buttons, no title
 * 800px+: Menu buttons + Title
 *
 * Navigation heights:
 * <=500 px:
 *     logged in: 60px
 *     not logged in: 60px
 * >500px:
 *     logged in: 100px
 *     not logged in: 80px
 */

nav#navigation #navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    background: #eee;
    z-index: 250;
    clear: both;
    color: #333;
    border: none;
    padding: 0 10px;
}

nav#navigation {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 0;
}

nav#navigation.frontpage {
    color: #333;
    border: none;
}

#navigation h1 {
    float: left;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    white-space: nowrap;
}

#navbar > a {
    color: #222;
}

div.menu-button {
    width: 36px;
    height: 36px;
    margin: 2px;
    background-color: black;
}

nav li a {
    height: 100%;
    display: block;
}

@media all and (max-width: 700px) {
    nav h1 {
        display: none;
    }
}

@media all and (min-width: 501px) {
    nav#navigation {
        height: 80px;
    }

    nav#navigation.authenticated {
        height: 110px;
    }

    nav#navigation #desktop-menu {
        display: inline;
    }

    nav#navigation #navbar {
        line-height: 80px;
    }

    #navigation h1 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        line-height: 80px;
    }

    div.menu-button {
        display: none;
    }

    nav#navigation #primary-menu, nav#navigation #anonymous-menu{
        position: relative;
        z-index: 250;
        display: block;
        float: right;
    }

    #primary-menu ul.menu, #anonymous-menu ul.menu {
        line-height: 80px;
        list-style: none;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 10px;
    }

    nav#navigation #secondary-menu {
        position: absolute;
        top: 80px;
        background-color: #bbb;
        z-index: 250;
        display: block;
        width: 100%;
        height: 30px;
    }

    #secondary-menu ul.menu {
        margin: 0 10px;
        line-height: 30px;
        list-style: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        float: right;
    }

    #secondary-menu ul.menu a {
        color: #333;
    }

    nav li {
        float: left;
        margin-left: 10px;
    }

    .frontpage nav li a {
        color: #aaa;
    }

    nav li a {
        color: #333;
        text-decoration: none;
    }

    nav li a:hover {text-decoration: underline;color:#b92525}

    #mobile-menu {
        display: none;
    }
}

@media all and (max-width: 500px) {
    nav#navigation {
        height: 60px;
    }

    nav#navigation #navbar {
        line-height: 60px;
        width: 100%;
        z-index: 50;
    }

    #navigation h1 {
        display: block;
        font-size: 16px;
        margin: 0;
        line-height: 60px;
    }

    div#menu-button {
        background-image: url(../images/menu.svg);
        background-color: #eee;
        display: inline-block;
        position: absolute;
        top: 14px;
        right: 10px;
        width: 32px;
        height: 32px;
    }

    #desktop-menu {
        display: none;
    }

    #mobile-menu ul.menu.collapsed {
        display: none;
    }

    #mobile-menu ul.menu {
        z-index: 10;
        display: block;
        position: absolute;
        bottom: 100px; /* Make sure it's offscreen at load */
        left: 0px;
        right: 0px;
        height: auto;
        list-style: none;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #fff;
        margin: 0;
        transition: bottom 180ms ease-out;
        -webkit-transition: bottom 180ms ease-out;
        -ms-transition: bottom 180ms ease-out;
        -moz-transition: bottom 180ms ease-out;
        -webkit-box-shadow: 0px 10px 11px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 11px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 11px 2px rgba(0,0,0,0.75);
    }

    #mobile-menu ul.menu a {
        line-height: 36px;
    }

    nav li {
        width: 100%;
        height: 40px;
        padding: 2px 7px;
        border-bottom: 1px solid #eee;
        margin-bottom: 0;
        list-style: none;
        list-image: none;
    }

    nav li a {
        text-decoration: none;
    }
}
