@media all and (max-width: 1200px) { /* screen size until 1200px */
    .navbar .nav {
		font-size: 11px!important;
	}

	.navbar-relative {
		position: relative;
		margin-bottom: 0px;
	}
}

.navbar-right {
	max-width: 680px;
	margin-right: -15px !important;
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
	.navbar-right {
		margin-right: -5px !important;
	}

	.navbar-relative {
		position: fixed;
		margin-bottom: 0px;
	}
}

@media all and (min-width: 768px) {
	#main-menu-mobile {
		display: none;
	}
}


@media all and (max-width: 768px) { /* screen size until 768px: mobile: nav = hamburger; */
	#main-menu-desktop {
		display: none;
	}

	.logged-in-menu {
		display: none;
	}

	.navbar {
		background: #eee!important;
		height: 60px!important;
		padding: 5px 0!important;
		color: #444!important;
	}

	.navbar .container {
		margin: 0px;
	}

	.navbar-right {
		max-height: 377px !important;
	}

	.navbar .nav li a, .navbar .nav li a:visited {
		color: #444!important;
	}

	.navbar-collapse[aria-expanded=true]{
		background: #eee;
		border: none;
		margin-top: 4px;
	}

	.navbar-collapse.collapsing {
		background: #eee;
	}

	.navScroll .navbar-collapse[aria-expanded=true] {
		background: #eee;
		border-bottom: 2px solid #ddd;
	}

	.navbar-relative {
		position: fixed;
		margin-bottom: 0px;
	}
}

.navbar-collapse.collapsing {
	overflow: hidden;
}

.navbar-nav {
	margin: 0 !important;
}

/* adminimal admin menu */
.slicknav_menu {
	margin-top: 60px;
}

#admin-menu {
	margin-top: 60px;
	transition: margin-top 0.4s ease;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	z-index: 900;
}

.navbar {
	height: 80px;
	background-color: transparent;
	padding: 15px 0;
	border-color: #aaa;

	-webkit-transition: all 0.4s ease;
   	transition: all 0.4s ease;
}

.nav {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar .nav li a, .navbar .nav li a:visited {
	color: #c4c4c4;
}

.navbar .nav li a:hover {
	color: #b92525!important;
	text-decoration: underline;
}

.nav.secondary {
	float: right;
	margin-top: 15px;
	border: #aaa 1px solid;
	border-width: 0 1px 1px 1px;

	-webkit-transition: all 0.4s ease;
   	transition: all 0.4s ease;
}

.navScroll .nav.secondary,
.not-front .navbar .nav.secondary {
	margin-top: 4px;
}

.navbar.navScroll, .not-front .navbar {
	background-color: #eee;
	height: 60px;
	padding: 5px 0;
	border-color: #ccc;
}

.navScroll a.navbar-brand,
.navScroll a.navbar-brand:hover,
.navScroll a.navbar-brand:visited,
.not-front .navbar a.navbar-brand,
.not-front .navbar a.navbar-brand:hover,
.not-front .navbar a.navbar-brand:visited {
	font-size: 18px;
	text-shadow: none;
}

.navScroll .nav li a,
.navScroll .nav li a:visited,
.not-front .navbar .nav li a,
.not-front .navbar .nav li a:visited {
	color: #444;
}

.navScroll .nav li a:hover,
.not-front .navbar .nav li a:hover {
	color: #b92525!important;
}

.navbar {
	position: fixed;
	margin-bottom: 0px;
}

ul.menu li.first {
	margin-left: 0;
}

.welkom {
	padding: 50px 0;
}

.welkom, .logged-in-menu {
	background: #b92525;
	text-align: justify;
	font-size: initial;
	color: #eee;

	border-top: 8px solid #6B1313;
}

.logged-in-menu {
	position: relative;
	font-weight: bold;
}

.not-front .logged-in-menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

	font-weight: initial;
	font-size: 105%;
}

.front .logged-in-menu .container {
  text-align: left;
}

.logged-in-menu .container {
	max-width: 970px;
	text-align: right;
}

.logged-in-menu .container .content {
	display: inline-block;
}

/* Reverse padding (right to left) of something in bootstrap/system.menus.css */
.not-front .logged-in-menu li.expanded,
	.not-front .logged-in-menu li.collapsed,
	.not-front .logged-in-menu li.leaf {
	padding: 0.2em 0 0 0.5em;
}

.logged-in-menu .menu {
	padding: 0;
}

.logged-in-menu li.leaf {
	float: left;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

.logged-in-menu li>a {
	color: #ddd;
	text-decoration: none;

  line-height: 50px;
  height: 50px;
  display: block;
}

.not-front .logged-in-menu li>a {
    line-height: 40px;
    height: 40px;
}

.logged-in-menu .menu {
	margin: 0;
}
