.praesidium-members .panel-separator {
	display: none;
}

@media all and (max-width: 600px) {
	.praesidium-members > div {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

.praesidium-members > div {
	margin: 30px auto;
}

.view-id-praesidium_member {
	text-align: center;
}

.view-praesidium-member img {
	max-width: 160px;
}

.praesidium-member {
	display: inline-block;
	margin-right: 20px;
}
