body {
	position: relative;
	background: #111;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.45;
  text-align: justify;
  overflow-y: scroll;
}

html, body {
	margin: 0;
	padding: 0;
}

label > * {
	font-weight: initial;
}

.container {
	max-width: 970px;
}

.node-teaser img {
	display: none;
}

.content > .container {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
	.nav {
		font-size: 11px!important;
	}

	.nav li a{
		padding: 15px 5px!important;
	}

	.welkom {
		padding: 20px 0!important;
	}

	.newslist .viewcontent {
		margin-bottom: 0px!important;
	}

	/*.newslist .viewcontent .view-row .node h2 a {
	font-size: 14px!important;
	}*/

	/* node-teaser title */
	.node-teaser h2 a {
		font-size: 14px!important;
	}

	.node-teaser .links {
		display: none!important;
	}
}

@media all and (max-width: 768px) { /* screen size until 768px: mobile: nav = hamburger; */

	#header, #header .container {
		height: 560px!important;
	}

	h1 {font-size:30px!important;}

	.container {
		margin: 0 20px;
	}

	#header.content, #header.content .container {
		height: 300px!important;
	}

	#praesidiumlist li {
		margin-right: 10px!important;
	}

	#praesidiumlist li img {
		width: 100px!important;
	}
}

@media all and (min-width: 768px) { /* nav = complete */
  .not-front #main-wrapper {
    padding-top: 70px;
  }
}

.secondaryNew li{
	float: left;
}

/* Fix for weird bug :( */
.secondaryNew a:focus {
	background: none!important;
}

.secondaryNew a {
	color: #ddd;
}

.secondaryNew a:hover {
	background-color: #b92525!important;
	text-decoration: underline!important;
	color: #fff;
}

.main-content .container {
	height: 100%;
	line-height: 1.75;
}

.container {
	position: relative;
}

section {
	overflow:auto;
}

#header {
	position: relative;
	margin-top: -60px;
	height: 650px;
	overflow: hidden;
}

#header .container {
	content: "";
	position: absolute;
	display: inline;
	width: 100%; height:650px;
	max-width: 100%;
	left:0;
	background:rgba(0,0,0,0.6);
	margin: 0;
}

#header img {
	display: block;
	max-height: 60%;
	margin: 100px auto 50px;
}

#header .header-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-position: center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

  background-color: #6B1313;

	transition: background-image ease;
}

#header.content{
	height: 400px;
}

#header.content .container{
	height: 400px;
}

#header.content h1 {
	display: none;
}

h1 {
	/*color: #eee;*/
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 34px;
	font-weight: bold;
	/*text-align: center;*/
}

.welkom .btn {
	display: block;
	width: 160px;
	margin: 30px auto 0;
	background-color: #fff;
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);
	border-color: #b92525;
	padding: 1.3em 2.5em;
	border-radius: 3em;
	color: #333;

	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.welkom p a {
	color: #B4BEFF;
	text-decoration: underline;
}

.main {
	background: #FAFAFA;
}

.main h2 {
	margin: 60px 0 20px 0;
	font-weight: bold;
	color: #333;
}

#main-wrapper {
	padding: 20px 0;
	border-top: 3px solid #ddd;
}

.front.not-logged-in #main-wrapper {
	padding-top: 0;
	border-top: none;
}

.admin-bar-spacing {
	margin-top: 60px;
}

/*.user-spacing {
margin-top: 30px;
}*/

.main-content h2 {
	margin-top: 80px;
	/* color: #000080; */
}

.newslist .viewcontent {
	list-style: none;
	padding: 0;
	margin: 0 0 60px 0;
}

.newslist .viewcontent {
	height: 100px;
	margin-bottom: 30px;
}

.node-teaser {
	margin: 20px 0;
}

.node-teaser h2 {
	margin: initial;
}

.node-teaser h2 a {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #b92525;
}

.node-teaser .submitted, .node .submitted {
	display: block;
	font-style: italic;
	font-size: 12px;
	color: #666;
}

.node-teaser .submitted .new_indicator,
.node .submitted .new_indicator {
    display: inline;
    font-weight: bold;
	  color: #b92525;
}

.node-teaser .links {
	float: right;
	margin: -10px 0 0 0;
	font-size: 12px;
	font-style: italic;
	color: #000080;
}

.container.newsitem .author{
	display: block;
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 10px;
}

.generatie {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 0;
}

#praesidiumlist {
	list-style: none;
	padding: 0;
	margin: 0 0 50px 0;
	overflow: hidden;
}

#praesidiumlist li {
	display: block;
	float: left;
	margin: 0 40px 0 0;
	text-align: center;
}

#praesidiumlist li span {
	display: block;
}

#praesidiumlist li span:first-of-type{
	font-weight: bold;
}

#praesidiumlist li span:last-of-type{
	font-style: italic;
}

.main #map-canvas {
	height: 600px;
	margin: 50px 0 0px;
}

.region.region-content {
	overflow: hidden;
}

.main-title {
	background: #FAFAFA;
}

.profile {
	margin: 0 0 1em;
}


.noScroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.frontpage-title {
	color: #eee;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
}

.main-content {
	padding-bottom: 50px;
}

input {
	max-width: 100%;
	padding: 3px 5px;
}

#footer {
	overflow: hidden;
}

blockquote {
  font-size: 16px;
}
